* {
  margin: 0;
  padding: 0;
}

.productsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 1rem;
  gap: 1.5rem;
}

.productCard {
  margin: 1rem;
}

@media screen and (min-width: 1024px) {
  .grid-container {
    gap: 4rem;
  }
}