* {
  margin: 0;
  padding: 0;
}

/* .addProducts {
  width: 70vw;
  height: 10vw;
  color: white;
  margin-top: 10vw;
  font-size: 4.5vw;
  font-weight: 500;
  border-radius: 5vw;
  align-items: center;
  background-color: #F0B44C;
  border: white;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgb(0 0 0 / 15%) 0 3px 4px;
}

.addProducts:hover {
  background-color: #d78033;
}  */

.productsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 1rem;
}

.productCard {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 25rem; */
  margin: 1rem;
}

@media screen and (min-width: 1024px) {
  .grid-container {
    gap: 4rem;
  }
}