:root {
  --font-family: 'Nunito', sans-serif;
}

.header {
  width: 100vw;
}

.navbar {
  background-color: #F7CB58;
}

.navLink {
  text-decoration: none;
  color: white;
  margin: 0.8rem;
  font-size: 1.4rem;
  font-family: var(--font-family);
}

.logout-chef {
  margin-left: 31rem;
}

.order-link {
  margin-right: 8rem;
}

.logout-waiter {
  margin-left: 10rem;
}

.products-link {
  margin-right: 7rem;
  margin-left: 1rem;
}

.logout-admin {
  margin-left: 9rem;
}

@media screen and (min-width: 1024px) {
  .logout-chef {
    margin-left: 54rem;
  }

  .order-link {
    margin-left: 4rem;
    margin-right: 17.5rem;
  }

  .logout-waiter {
    margin-left: 18.5rem;
  }

  .products-link {
    margin-left: 4rem;
    margin-right: 15rem;
  }

  .logout-admin {
    margin-left: 19.5rem;
  }
}