:root {
  --font-family: 'Nunito', sans-serif;
}

.header {
  width: 100vw;
}

.navbar {
  background-color: #F7CB58;
}

.navLink {
  text-decoration: none;
  color: white;
  margin: 0.8rem;
  font-size: 1.4rem;
  font-family: var(--font-family);
}