:root {
  --font-family: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 1rem;
}

.imgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-vertical {
  width: 80%;
}

.formBox {
  width: 80%;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 22rem;
  border-radius: 1rem;
  border: 0.2rem solid #FFB74D;
}

.title {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-family: var(--font-family);
}

.login-title {
  text-align: center;
}

.emailInput {
  margin-top: 2rem;
  margin-bottom: 1.8rem;
  font-family: var(--font-family);
}

/* .emailInput {
  width: 70vw;
  height: 9vw;
  color: rgb(64, 64, 64);
  font-size: 4.5vw;
  text-align: center;
  border-radius: 5vw;
  border: 0.5vw solid #F0B44C;
}

.emailInput:focus {
  border-color: #F9965E;
  outline: 0;
}

.emailInput::placeholder {
  font-family: 'Poppins', sans-serif;
  color: rgb(172, 172, 172);
}

.passwordInput {
  width: 70vw;
  height: 9vw;
  color: rgb(64, 64, 64);
  font-size: 4.5vw;
  text-align: center;
  border-radius: 5vw;
  border: 0.5vw solid #F0B44C;
}

.passwordInput:focus {
  border-color: #F9965E;
  outline: 0;
}

.passwordInput::placeholder {
  font-family: 'Poppins', sans-serif;
  color: rgb(172, 172, 172);
} */

.login {
  margin-top: 2.4rem;
}

.loginBtn {
  height: 2.5rem;
  color: white;
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.375rem;
  align-items: center;
  background-color: #FFB74D;
  border: white;
  box-shadow: rgb(0 0 0 / 15%) 0 6px 6px;
  text-shadow: rgba(0, 0, 0, 0.3) 0 4px 4px;
}

/* .loginBtn:hover {
  background-color: #d78033;
}*/

.error-message {
  margin-top: 0.5rem;
}

p {
  font-family: var(--font-family);
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {

  .loginComponent {
    flex-direction: row;
    gap: 0;
  }

  .imgSection {
    height: 25rem;
    width: 80%;
    padding-left: 0.5rem;
  }

  .logo-vertical {
    width: 90%;
    height: 25rem;
  }

  .formBox {
    width: 75%;
    height: 24.5rem;
    margin-right: 2rem;
  }

  .title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .emailInput {
    margin-bottom: 2rem;
  }

  .login {
    margin-top: 2.6rem;
  }
}