.select-menu {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 15rem;
}

.orderSection {
  display: flex;
  flex-direction: row;
}

.products {
  display: flex;
  flex-direction: column;
}

.order {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 17rem;
  position: absolute;
}

.nameInput {
  margin-bottom: 1rem;
}

.total {
  margin-top: 1rem;
}

.order-btn {
  margin-right: 0.5rem;
}