.productCard {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 25rem; */
  margin: 1rem;
}

.card {
  padding: 1rem;
}

.cardImg {
  width: 60px;
  height: 60px;
  object-fit: contain;
}