.card {
  padding: 1rem;
}

.cardImg-admin {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
}

.product-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}