.productsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.productCard {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 25rem; */
  margin: 1rem;
}