.name {
  width: 10rem;
  padding-top: 1rem;
}

.price {
  width: 4rem;
  padding-top: 1.5rem;
}

.select-btn {
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.8rem;
}

.delete-btn {
  margin-top: 0.8rem;
}