:root {
  --font-family: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orderSection {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
}

.select-menu {
  margin-top: 2rem;
  width: 15rem;
}

.order {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.order-title {
  margin-top: 1rem;
  font-family: var(--font-family);
  text-align: center;
}

.nameInput {
  margin-bottom: 1rem;
}

.total {
  margin-top: 1rem;
  font-weight: 500;
}

.total-message {
  /* font-family: var(--font-family); */
  font-size: 1.4rem;
}

.order-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .orderSection {
    gap: 8rem;
  }
}